/*
 * VARIABLES
 */
/*
 * SECTIONS
 */
/* line 12, ../sass/wak-admin-styles.scss */
.wak-section {
  padding: 20px 0;
}
/* line 15, ../sass/wak-admin-styles.scss */
.wak-section label {
  display: block;
  margin-bottom: 10px;
}

/* line 20, ../sass/wak-admin-styles.scss */
.wak-center-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/* line 25, ../sass/wak-admin-styles.scss */
ol li {
  font-size: 1.3em;
  color: #000000;
}

/*
 *  FORMS
 */
/* line 33, ../sass/wak-admin-styles.scss */
.wak-secret-input {
  background: #FFFFFF;
  display: table;
  padding: 10px;
  box-shadow: 0 0 2px #b4b9be;
  margin-bottom: 15px;
}
/* line 40, ../sass/wak-admin-styles.scss */
.wak-secret-input input,
.wak-secret-input button {
  height: 30px;
  font-size: 18px;
  color: #464b50;
}
/* line 47, ../sass/wak-admin-styles.scss */
.wak-secret-input input {
  border: 0;
  box-shadow: none;
}
/* line 52, ../sass/wak-admin-styles.scss */
.wak-secret-input button {
  background: none;
  border: 0;
  box-shadow: none;
  line-height: 23px;
  padding-left: 10px;
  border-left: 1px solid #b4b9be;
}

@media screen and (max-width: 560px) {
  /* line 64, ../sass/wak-admin-styles.scss */
  .wak-secret-input input,
  .wak-secret-input button {
    font-size: 13px;
    height: 25px;
  }
  /* line 70, ../sass/wak-admin-styles.scss */
  .wak-secret-input button {
    line-height: 12px;
  }
}
